<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${reviewModel.title}">A review</title>
    <link rel="stylesheet" href="style/style.css" />
</head>
<body>
<div id="container">
<header>
    <h1 th:text="${reviewModel.title}">A review</h1>
    <button><a href="/reviews">All Reviews</a></button>
</header>

<main>
    <ul>
        <h3 th:text="${reviewModel.title}"></h3>
        <li><img th:src="${reviewModel.imageUrl}"></img></li>
    </ul>
    <p id="content" th:text="${reviewModel.reviewContent}"></p>
</main>
</div>
<footer>
    <small>&copy <span th:text="${reviewModel.reviewDate}"></span> XianMaeve</small>
</footer>

</body>
</html>
