<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${type.value}"> reviews</title>
    <link rel="stylesheet" href="style/style.css"/>
</head>
<body>
<div id="container">
    <header>
        <h1> All <span th:text="${type.value}"></span> Reviews</h1>
    </header>

    <main>
        <nav>
            <ul>
                <h3 th:each="review:${type.reviews}">
                    <a th:href="@{'/reviews/' + ${review.id}}" th:text="${review.title}"></a>
                </h3>
            </ul>
        </nav>
        <a href="/types">return to categories</a>
    </main>
</div>
<footer>
    <small>&copy 2020 XianMaeve</small>
</footer>

</body>
</html>
